<form #sitioForm="ngForm" (ngSubmit)="handlePozo()">
  <ion-list class="ion-padding">
    <ion-item>
      <ion-label position="stacked">Empresa</ion-label>
      <ion-input type="text" name="empresa" [(ngModel)]="this.pozo().empresa" required></ion-input>
    </ion-item>

    <app-selector-persona-pozo etiqueta="Propietario" [candidatos]="propietarios()"
      [(seleccionado)]="pozo().id_propietario" [deshabilitado]="guardando() || !catalogosDisponibles()" />

    <ion-item>
      <ion-label position="stacked">ID Sitio</ion-label>
      <ion-input
        type="number"
        name="id_sitio"
        [(ngModel)]="this.pozo().id_sitio"
        required
      ></ion-input>
      <ion-button
        slot="end"
        size="Default"
        type="button"
        *ngIf="!agregareditar(); else editarSitioBtn"
        (click)="onCrearSitioClick()"
        [disabled]="!propietarioValido()"
      >
        Crear Sitio
      </ion-button>

      <ng-template #editarSitioBtn>
        <ion-button slot="end" size="small" type="button" (click)="onEditarSitioClick()">
          Editar Sitio
        </ion-button>
      </ng-template>
    </ion-item>

    <app-selector-persona-pozo etiqueta="Perforador" [candidatos]="perforadores()"
      [(seleccionado)]="pozo().id_perforador" [deshabilitado]="guardando() || !catalogosDisponibles() || perforadores().length === 1" />

    <ion-item>
      <ion-label position="stacked">Fecha de inicio</ion-label>
      <ion-input type="date" name="fecha_inicio" [(ngModel)]="this.pozo().fecha_inicio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fecha de fin</ion-label>
      <ion-input type="date" name="fecha_fin" [(ngModel)]="this.pozo().fecha_fin"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Profundidad final (m)</ion-label>
      <ion-input
        min="0"
        step="1"
        type="number"
        name="profundidad_final_m"
          [(ngModel)]="this.pozo().profundidad_final_m"
          (ngModelChange)="notificarCambio()"
        required
      ></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Sello sanitario</ion-label>
      <ion-toggle name="sello_sanitario" [(ngModel)]="this.pozo().sello_sanitario"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Pre-filtro</ion-label>
      <ion-input type="text" name="pre_filtro" [(ngModel)]="this.pozo().pre_filtro"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nivel estático (m)</ion-label>
      <ion-input
        min="0"
        step="1"
        type="number"
        name="nivel_estatico_m"
        [(ngModel)]="this.pozo().nivel_estatico_m"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nivel dinámico (m)</ion-label>
      <ion-input
        min="0"
        step="1"
        type="number"
        name="nivel_dinamico_m"
        [(ngModel)]="this.pozo().nivel_dinamico_m"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Caudal estimado (L/h)</ion-label>
      <ion-input
        min="0"
        step="1"
        type="number"
        name="caudal_estimado_lh"
        [(ngModel)]="this.pozo().caudal_estimado_lh"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Método sedimentario</ion-label>
      <ion-input
        type="text"
        name="metodo_sedimentario"
        [(ngModel)]="this.pozo().metodo_sedimentario"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Método rocoso</ion-label>
      <ion-input
        type="text"
        name="metodo_rocoso"
        [(ngModel)]="this.pozo().metodo_rocoso"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cementación</ion-label>
      <ion-input type="text" name="cementacion" [(ngModel)]="this.pozo().cementacion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Desarrollo</ion-label>
      <ion-input type="text" name="desarrollo" [(ngModel)]="this.pozo().desarrollo"></ion-input>
    </ion-item>

    @if(this.agregareditar()===true){
    <ion-item>
      <ion-label position="stacked">Cambiar foto al pozo</ion-label><br>
      @if (!getFoto() || eliminarFotoPendiente()) {
      <ion-label>{{ eliminarFotoPendiente() ? 'La foto actual se eliminará al guardar.' : 'No hay foto' }}</ion-label>
      }@else {
      <ion-img [src]="getFoto()" alt="Imagen del pozo"></ion-img>
      <ion-button type="button" color="danger" fill="outline" (click)="solicitarEliminarFotoPersistida()" [disabled]="guardando()">
        Eliminar fotografía
      </ion-button>
      }
      @if (!fotoFile) {
        <app-foto (fotoTomada)="fotoCapturada($event)"></app-foto>
      } @else {
        <ion-label>Fotografía nueva seleccionada: {{ fotoFile.name }}</ion-label>
        <ion-button type="button" color="danger" fill="outline" (click)="quitarFotoSeleccionada()">Quitar selección</ion-button>
      }
      @if (eliminarFotoPendiente() || fotoFile) {
        <ion-button type="button" fill="clear" (click)="cancelarCambioFoto()">Cancelar cambio</ion-button>
      }
    </ion-item>
    }@else{
    <ion-item>
      <ion-label position="stacked">Agregar foto al pozo</ion-label><br>

      @if (!fotoFile) {
        <app-foto slot="end" (fotoTomada)="fotoCapturada($event)"></app-foto>
      } @else {
        <ion-label>Fotografía seleccionada: {{ fotoFile.name }}</ion-label>
        <ion-button type="button" color="danger" fill="outline" (click)="quitarFotoSeleccionada()">Quitar fotografía</ion-button>
      }
    </ion-item
    >}
  </ion-list>
  <ng-content />
  <ion-button type="submit" expand="block" [disabled]="sitioForm.invalid || guardando() || disabled() || !catalogosDisponibles() || !personasValidas()">
    GUARDAR POZO
  </ion-button>
</form>
