<ion-content class="ion-padding">
  <ion-content>
    <ion-toolbar>
      <ion-buttons slot="start" color="primary">
        <ion-back-button default-href="#" (click)="irAtras()" color="primary"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-card>
      <ion-card-content>
        <h2>Editar pozo</h2>

        @if (this.pozoResource.hasValue()) {
        @let editor = this.pozoResource.value()!;
        <div class="editor-layout"><div class="editor-formulario"><app-pozos-form
          [pozo]="editor.pozo" [propietarios]="editor.personas.propietarios" [perforadores]="editor.personas.perforadores" [catalogosDisponibles]="true"
          (saved)="this.handleEdit($event)"
          [id_pozo]="id_pozo()"
          [agregareditar]="true"
          [guardando]="disabled()"
          (editarSitio)="editarSitio()"
          (cambiado)="profundidadBorrador.set($event.profundidad_final_m)"
        >
          <app-datos-tecnicos-borrador [inicial]="editor.tecnicos" [versionDescartar]="versionDescartar()" [profundidad]="editor.pozo.profundidad_final_m"
            [guardando]="disabled()" (cambiado)="datosTecnicos.set($event)" (estadoSucio)="borradorDirty.set($event)" />
        </app-pozos-form></div>
        <aside><app-perfil-litologico-vista-previa [idPozo]="id_pozo()"
          [profundidad]="profundidadBorrador() ?? editor.pozo.profundidad_final_m" [datos]="datosTecnicos()" /></aside></div>
        } @else if (this.pozoResource.isLoading()) {
        <ion-spinner></ion-spinner>
        } @else {
        <p>{{ pozoResource.error() || 'No hay pozo' }}</p>
        }

        <ion-button
          fill="outline"
          expand="block"
          (click)="recargar()"
          [disabled]="this.disabled()"
        >
          RECARGAR
        </ion-button>

        @if (this.errorMessage()) {
        <div class="error-message">
          {{ this.errorMessage() }}
        </div>
        }
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
